.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  width: 105px; /* Set Width */
  height: 39px; /* Set Height */
  left: -50px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  margin: 0;
  column-gap: 20px;
}

.nav__link {
  color: black;
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
